%h1 Add Page
.lgreen_box
  .lgreen_header
    %div
  .lgreen_content
    = error_messages_for :page
    
    - form_for :page, @page, :url => pages_path(), :html => {:method => :post, :id => "new_page_form"} do |f|
      = render :partial => 'form', :locals => {:page => @page}
      = submit_tag "Create", :class => 'dont_display'

    .button
      = link_to 'Cancel', pages_path()
    .button
      = link_to 'Save', '#', :onclick => "$('new_page_form').submit(); return false;"
    .clearfloat