= render :partial=> 'layouts/user_navigation', :locals => { :section => "Contacts" }
  
.lgreen_box
  .lgreen_header
    %div
  .lgreen_content
    %h2 CONTACT DETAILS
    
    = error_messages_for 'contact'
    - form_for :contact, @contact, :url => contact_path(@user, @contact), :html => {:method => :put, :id => 'contact_edit_form'} do |f|
      = render :partial => 'form'
      = submit_tag 'Edit', :class => 'dont_display'

    .button
      = link_to 'Cancel', contact_path(params[:user_id])
    .button
      = link_to 'Save', '#', :onclick => "$('contact_edit_form').submit(); return false;"
    .clearfloat