%h1 Rates List

.lgreen_box
  .lgreen_header
    .div
  .lgreen_content
    - if !@public_area
      .add_new_record
        = link_to '+ Add New Rate', new_rate_path
    %table.list_table{:cellpadding => 0, :cellspacing => 0}
      %tr
        %th Term
        %th Rate
        - if !@public_area
          %th
                
      - @rates.each do |rate|
        %tr{:valign=>"top", :class=>"#{cycle('odd', 'even')}"}
          %td{:style=>rate.is_default_calculator_rate ? 'font-weight:bold' : '' }= rate.term
          %td{:style=>rate.is_default_calculator_rate ? 'font-weight:bold' : '' }= rate.rate
          -if !@public_area
            %td{:style=>"width:100px"}
              = link_to 'Edit', edit_rate_path(rate)
              |
              = link_to 'Remove', rate_path(rate), :confirm => 'Are you sure?', :method => :delete