%h1 Agents List

= display_page('Our Consultants')

.lgreen_box
  .lgreen_header
    .div
  .lgreen_content
    =render :partial => 'users/search_form'
    
    - if @users.size == 0
      %p No agents matching your search criteria found. Please try searching again.
    - elsif params[:commit] or params[:search_string]
      %table.list_table{:cellpadding => 0, :cellspacing => 0}
        %tr
          %th Agent Info
          %th Phone
          %th Email / Website
  
        - @users.each do |user|
          %tr{:valign=>"top", :class=>"#{cycle('odd', 'even')}"}
            %td
          
              = user.full_name
              
              - if !user.job_title.empty?
                %br/
                Job title:
                = user.job_title

              - if !user.is_active? 
                %br/
                .inactive_agent
                  Inactive
            %td{:style=>"white-space: nowrap;", :valign=>"top"}
              = "Phone: " + user.phone + "<br/>" unless user.phone.empty?
              = "Mobile: " + user.mobile + "<br/>" unless user.mobile.nil? || user.mobile.empty?
              = "Fax: " + user.fax + "<br/>" unless user.fax.nil? || user.fax.empty?
            %td{:valign=>"top"}
              = mail_to user.email, 'Send Email', :encode => 'hex', :title=>user.email
              %br/
              = link_to 'View Website', '/' + user.webpage_address
      
    
      - if @user_pages.page_count > 1
        .pagination_links
          Go to page:
          = link_to '&lt;', pagination_prev_link if pagination_prev_link
          = pagination_links @user_pages, :window_size => 5, :params => params
          = link_to '&gt;', pagination_next_link(@user_pages.page_count) if pagination_next_link(@user_pages.page_count)
