%h1 Forgot Your Password?

.lgreen_box
  .lgreen_header
    .div
  .lgreen_content
  
    %p
      If you have forgotten your Username and/or Password, please enter your email address below. 
      You will be sent an email with new login information.
      
    = error_messages_for 'user'
    
    - form_for :user, @user, :url => forgot_password_path(), :html => {:id => "user_forgot_password_form"} do
    
      %dl.form_list
        %dt
          %label{:for => "email"}Your Email:
        %dd
          = text_field 'user', 'email'
      
      = submit_tag 'Recover Username/Password', :class => 'dont_display'
      
      .button
        = link_to 'Cancel', '/'
      .button
        = link_to 'Recover Username/Password', '#', :onclick => "$('user_forgot_password_form').submit(); return false;"
      .clearfloat
  .footer